@import url(reset.css);

:root {
	--font-open-sans: "Open Sans", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--background--color: #684bb1;
}

.page {
	min-height: 100vh;
	background-image: url(../images/bg-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: var(--background--color);
}
